main{
    
    .container{
        background-color: var(--secondary-color);
        box-shadow: 0 10px 40px rgb(0 0 0 / 7%)
    }

    .menu{
        margin-top: -3em;
        display: flex;

        li{
            border-radius: 5px 5px 0 0;
            background-color: var(--secondary-color);
            opacity: 60%;
            margin-left: 1em;

            a{
            padding: 1em;
            display: inline-block;

            }

            &.active{
                opacity: 100%;
            }
        }

    }

    .filter{
        margin-block: 1em;
        border-bottom: 2px solid #cccccc;
        padding-bottom: 1em;

        .col:not(.active){
            opacity: 60%;
        }
    }
    .error{
        background-color: var(--secondary-color--dark);
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
    }
}
