main{
    
    .container{
        background-color: var(--secondary-color);
    }

    .menu{
        margin-top: -3em;
        display: flex;

        li{
            border-radius: 5px 5px 0 0;
            background-color: var(--secondary-color);
            opacity: 60%;
            margin-left: 1em;

            a{
            padding: 1em;
            display: inline-block;

            }

            &.active{
                opacity: 100%;
            }
        }

    }
    .error{
        background-color: var(--secondary-color--dark);
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
    }
}
